.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255);
  padding: 40px 32px 40px 60px;

  @media (max-width: 1080px) {
    & {
      padding: 32px 24px;
      align-items: flex-start;
    }
  }
}

.iconSearch {
  background: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255);

  @media (max-width: 1080px) {
    & {
      flex-direction: column;
      align-items: baseline;
      gap: 32px;
      width: 100%;
    }
  }
}

.mainIcon {
  margin-right: 78px;
  background: inherit;
  @media (max-width: 1080px) {
    & {
      margin-right: 10px;
    }
  }
}

.searchWrappper {
  background: inherit;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 492px;
  width: 492px;

  @media (max-width: 1080px) {
    & {
      width: 263px;
      height: 48px;
    }
  }

  & .icon_img {
    background: inherit;
    top: auto;

    &:first-of-type {
      position: absolute;
      left: 20px;
    }

    &:last-of-type {
      position: absolute;
      right: 20px;
    }
  }

  & .searchInput {
    width: 100%;
    height: 44px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 70px;
    background: rgb(255, 255, 255);
    padding: 10px 20px 10px 64px;
    color: rgb(89, 103, 128);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -2%;
    text-align: justify;

    @media (max-width: 1080px) {
      & {
        width: 263px;
        height: 48px;
        border-radius: 10px;
      }
    }
  }
}

.profIconWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  background: inherit;

  & .profIcon {
    width: 44px;
    height: 44px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    border-radius: 90px;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    &:last-of-type {
      width: 44px;
      height: 44px;
      & img {
        width: 44px;
        height: 44px;
      }
    }

    /*  Notification indicator */
    /* &:nth-child(2)::before {
      content: "";
      position: absolute;
      width: 11px;
      height: 11px;
      right: 0;
      top: 0;
      border-radius: 50%;
      background: rgb(255, 68, 35);
      z-index: 111111;
    } */

    @media (max-width: 1080px) {
      &:not(:last-of-type) {
        display: none;
      }

      &:last-of-type {
        width: 28px;
        height: 28px;
        & img {
          width: 28px !important;
          height: 28px !important;
        }
      }
    }
  }
}
